body,
button {
  font-family: Roboto, sans-serif;
}

.stack{
    height: 150px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
}

.block{
    height: 25px;
    border: 1px solid black;
}

#block-1{
    width: 25px;
    background-color: red;
}

#block-2{
    width: 50px;
    background-color: white;
}

#block-3{
    width: 100px;
    background-color: green;
}

.short-text{display: none;}

@media(max-width: 575px){
    .short-text{display: inline-block;}
    .full-text{display: none;}
}